/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Styles for the body */

body {
	font-family: 'Nunito', sans-serif;
	color: #202A29;
	background-color: #fcfcfc;
}

footer {
    background-color: #E5EDE9;
    text-align: center;
    color: #E5EDE9;
}

.text-header {
    font-family: 'Nunito', sans-serif;
    color:fcfcfc
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #5C7B7B;
    color: #F4F1EE
}

.resume-main {
	background-color: #F4F1EE;
}

.resume-aside {
	background-color: #F0BC68;
    color: #F4F1EE
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #F0BC68;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

.funky-text {
    font-family:'Source Code Pro', monospace;
    color: #F0BC68;
    text-align: center;
    font-style: normal;
}

.heading-text {
    font-family: 'Source Code Pro', monospace;
    color: #202A29;
}

.more-heading-text {
    font-family: 'Source Code Pro', monospace;
    color: #F4F1EE;
}

.language-text {
    font-family: 'Source Code Pro', monospace;
    color: #5C7B7B;
}

a:link {
    color: #79B4BC;
}

a:visited {
    color: #F4F1EE;
}

a:hover {
    color: #5C7B7B;
}

.dates {
    color: #79B4BC;
    font-family: 'Source Code Pro', monospace;
}